---
layout: default
title: "Publications"
permalink: /publications/
author_profile: true
---

{% assign pubs = site.publications | sort: 'date' | reverse %}
{% assign current_year = "" %}

{% for pub in pubs %}
  {% assign pub_year = pub.date | date: "%Y" %}
  
  {% if pub_year != current_year %}
    <h2>{{ pub_year }}</h2>
    {% assign current_year = pub_year %}
  {% endif %}

  <div>
    <h3>{{ pub.title }}</h3>
    <p>
      {% assign authors = pub.authors | split: "," %}
      {% for author in authors %}
        {% assign a = author | strip %}
        {% if a contains "Haejoon Lee" %}
          <strong>{{ a }}</strong>
        {% else %}
          {{ a }}
        {% endif %}
        {% if forloop.last == false %}, {% endif %}
      {% endfor %}
    </p>
    <p>{{ pub.venue }}</p>
    <p>
      {% if pub.paperurl %}<a href="{{ pub.paperurl }}">Paper</a>{% endif %}
      {% if pub.bibtexurl %}<a href="{{ pub.bibtexurl }}">BibTeX</a>{% endif %}
    </p>
  </div>

{% endfor %}
